# Маршрутизация для Spring Cloud Gateway (Docker профиль)
spring:
  cloud:
    gateway:
      routes:
        # Маршрут для authentication-service
        - id: auth_route
          uri: http://authentication-service:8081
          predicates:
            - Path=/auth/**

        # Маршрут для user-service
        - id: user_route
          uri: http://user-service:8080
          predicates:
            - Path=/api/v1/users/**

        # Маршрут для order-service
        - id: order_route
          uri: http://order-service:8080
          predicates:
            - Path=/api/v1/orders/**

